/* Small devices */
@media (max-width: 600px) {

    .avgpurchase,
    .pendingquote,
    .machineutilization,
    .wipload,
    .workdelay,
    .operatorwise,
    .planvsactual,
    .smallpie,
    .barpareto,
    .totalorders,
    .toppareto,
    .defectrate,
    .prodcharts,
    .prodchart,
    .mycards,
    .salescards,
    .saleslines,
    .salesbars,
    .quotationwin,
    .topcustomers,
    .revenuecurrent,
    .salestopcustomers,
    .purchasecards,
    .tables,
    .oee,
    .totalrevenue,
    .linechart {
        width: 90vw;
    }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1114px) {

    .prodchart,
    .tables,
    .paretocharts,
    .oee,
    .revenuecurrent,
    .saleslines,
    .linechart,
    .totalorders,
    .scheduleadhe,
    .topcustomers {
        width: 90vw;
    }

    .defectrate,
    .prodcharts {
        width: 45vw;
    }

    .mycards {
        width: 43vw;
    }

    .barpareto {
        width: 43vw;
    }

    .smallpie {
        width: 45vw;
    }

    .salesbars,
    .salestopcustomers {
        width: 43vw;
    }

    .purchasecards{
        width: 45vw;
    }

    .avgpurchase{
        width: 90vw;
    }

    /* changes made */

    .planvsactual,
    .machineutilization,
    .operatorwise,
    .wipload,
    .defectrate {
        width: 45vw;
    }

    .workdelay {
        width: 45vw;
    }

    .salescards {
        width: 45vw;
    }

    .pendingquote {
        width: 90vw;
    }
}

@media (min-width: 1115px) {


    .revenuecurrent {
        width: 38vw;
    }

    .linechart {
        width: 35vw;
    }

    .mycards {
        width: 21vw;
    }

    .wodelay {
        width: 18vw;
    }

    .totalorders {
        width: 38vw;
    }

    .prodchart{
        width: 70vw;
    }

    .barpareto {
        width: 32vw;
    }

    .oee {
        width: 37vw;
    }

    .totalrevenue {
        width: 38vw;
    }

    .topcustomers {
        width: 43vw;
    }

    /* Product Management */



    .operatorperformance {
        width: 35vw;
    }

    .scheduleadhe {
        width: 48vw;
    }

    .planvsactual {
        width: 24vw;
    }

    .salestopcustomers {
        width: 35vw;
    }

    .saleslines {
        width: 58vw;
    }

    .pendingquote {
        width: 35vw;
    }

    .onlycards {
        width: 23vw;
    }

    .salesbars {
        width: 28vw;
    }

    .salescards {
        width: 20vw;
    }



    /* changes */


    .defectrate,
    .prodcharts {
        width: 25vw;
    }

    .machineutilization {
        width: 35vw;
    }

    .workdelay {
        width: 39vw;
    }

    .operatorwise {
        width: 24vw;
    }

    .wipload {
        width: 24vw;
    }


    .purchasecards {
        width: 19vw;
    }

    .avgpurchase {
        width: 35vw;
    }
}